.main {
    display: flex;
    position: relative;
    font-family: Manrope, sans-serif;
}

.dashboard {
    height: 150vh;
}

.banner {
    margin-top: 65px;
    margin-left: -110px;
    animation: fadeIn ease 6s forwards;
}

.bannerText {
    font-size: 35px;
    color: #000000;
    text-align: center;
    width: 400px;
    position: absolute;
    letter-spacing: 0.05em;
    top: 190px;
    left: 45%;
    opacity: 0;
    animation: fadeIn ease 7s forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.bannerText span {
    font-weight: 700;
}

.title {
    flex-direction: row;
    display: flex;
    margin-bottom: 22px;
}

.titleIcon {
    color: #363636;
    width: 12px;
    height: 10px;
}

.titleText {
    font-size: 18px;
    color: #363636;
    margin-left: 12px;
}

.liveCourses {
    margin-left: 53px;
    display: flex;
    flex-direction: row;
}
