.header {
    position: absolute;
    left: calc(50px + 17vw);
    width: calc(100vw - 100px - 17vw);
    top: 35px;
    flex-direction: row;
    display: flex;
    font-family: Manrope, sans-serif;
}

.queryWrapper {
    flex-direction: row;
    display: flex;
}

.queryBar {
    width: 458px;
    background-color: #fff;
    border-left: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    border-right: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px 0 0 8px;
    height: 40px;
    padding-left: 21px;
}

.queryBar:focus {
    outline: none;
}

input {
    font-family: Manrope, sans-serif;
    font-size: 18px;
}

input::placeholder {
    font-family: Manrope, sans-serif;
    color: #C4C4C4;
    font-size: 18px;
}

.queryIcon {
    width: 75px;
    height: 42px;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconWrapper {
    margin-left: 45px;
    margin-top: 12px;
    position: relative;
}

.dot1 {
    position: absolute;
    left: 20px;
    top: 0px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #FF7D7D;
}

.dot2 {
    position: absolute;
    left: 66px;
    top: 0px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #FF7D7D;
}

.profileWrapper {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

.profilePic {
    width: 59px;
    height: 57px;
    margin-top: -6px;
    margin-bottom: 2px;
}

.profileName {
    color: #363636;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profileOccupation {
    color: #363636;
    font-size: 10px;
    margin-top: 0;
}
